html,body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

header {
  width: 100%;
  height: 16%;
  line-height: 12vh;
  text-align: center;
  background-color: #ffe0c0;
  background-image: url("../images/couplogo.png");
  background-position: 50% 50%;
  background-size: 80%;
  background-repeat: no-repeat;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  color: white;
}

section{
  width: 100%;
  height: 12vh;
  display: block;
  text-align: center;
  overflow: hidden;
}

/*.selection-wrapper{
  background-color: rgba(0,0,0,0.08);
  border-radius: 4px;
}*/

footer{
  width: 100%;
  height: 12%;
  line-height: 12vh;
  text-align: center;
  background-color: #0074D9;
  color: white;
}

.gray{
}

.selection-wrapper{
  height: 10vh;
  margin: 2vh 2vh 0;
  background-color: rgba(0,0,0,0.06);
  border-radius: 6px;
}

section ul{
  list-style: none;
  padding: 1.5vh;
}

section ul li{
  display: inline-block;
  height: 7vh;
  width: 7vh;
  line-height: 7vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 1px solid;
  border-radius: 100%;
  border-color: #0074D9;
  margin: 0 0.5%;
  color: #0074D9;
  font-size: 9px;
  font-weight: bold;
}
